<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- No SMS relay on Play (see build.gradle.kts): drop its permissions and receivers -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" tools:node="remove" />
    <uses-permission android:name="android.permission.SEND_SMS" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" tools:node="remove" />
    <application>
        <receiver android:name=".SmsReceiver" tools:node="remove" />
        <receiver android:name=".CallReceiver" tools:node="remove" />
    </application>
</manifest>
